<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><a href="/Home/BuyCoffee" class="btn btn-primary btn-lg">Buy more coffee &raquo;</a></p>
<p><a href="/Home/DeleteEverything" class="btn btn-primary btn-lg">Checkout &raquo;</a></p>
