@{
    ViewBag.Title = "UserSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello, @ViewBag.FirstName</h2>

@using (Html.BeginForm("UserRegistered", "Home", FormMethod.Post))
{
<div>
    <form>
        <label for="Title">What coffee would you like:</label>
        <br />
        <select title="Title Select">
            <option value="">Please choose an option </option>
            <option value="Dark">Dark</option>
            <option value="Light">Light</option>
        </select>

        <br />
        <button type="submit" class="btn btn-primary">Submit &raquo;</button>
    </form>

</div>
}


